
{% extends 'app_forum/base.html' %}
{% load filter_group %}
{% block title %} {{ title }} {% endblock title %}

{% block content %}

<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="{% url 'forum:index' %}">Home</a>
        {% if user.is_authenticated %}
        <a class="nav-link" href="{% url 'auth:logout' %}">Logout</a>
        <a class="nav-link" href="{% url 'auth:user_profile' %}">Hello, {{user}}!</a>
        {% else %}
        <a class="nav-link" href="{% url 'auth:login' %}">Log-in</a>
        <a class="nav-link" href="{% url 'auth:sing_up' %}">Sing Up</a>
        {% endif %}
      </div>
    </div>
  </div>
</nav>

<main role="main" class="container">
          <p class="my-3">Other tags:
            {% for mt in common_tags %}
                <a href="{% url 'forum:tag' mt.slug %}" class="badge rounded-pill text-bg-primary">#{{ mt }}</a>
            {% endfor %}
          </p>
      <div class="my-3 p-3 bg-white rounded box-shadow">
        <h1 class="border-bottom border-gray pb-2 mb-0">{{ title }}</h1>
        {% if topics %}
          {% for topic in topics %}
        <div class="media text-muted pt-3" onclick="location.href='/{{ topic.id }}/posts/';" style="cursor:pointer;">
          <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
              author: {{ topic.author.username }}
            <strong class="d-block text-gray-dark">{{ topic.title }}</strong>
              {% for tag in topic.tag.all %}
                <a href="{% url 'forum:tag' tag.slug %}" class="badge rounded-pill text-bg-primary">#{{ tag }}</a>
              {% endfor %}
              <div class="d-flex justify-content-between align-items-center">
                {% if user.pk == topic.author.pk or user|has_group:"moderator" %}
                <div class="btn-group">
                  <a href="{% url 'forum:delete_topic' topic.pk %}" class="btn btn-sm btn-outline-primary">DELETE</a>
                  <a href="{% url 'forum:update_topic' topic.pk %}" class="btn btn-sm btn-outline-primary">UPDATE</a>
                </div>
                {% endif %}
                <small class="text-muted">{{ topic.date }}</small>
              </div>
                <hr>
          </p>
        </div>
          {% endfor %}
        {% endif %}
      </div>
</main>
{% endblock content %}




