{% extends 'app_forum/base.html' %}
{% load filter_group %}

{% block title %} Homepage {% endblock title %}

{% block content %}
{% include 'includes/navbar.html' %}
    {% if user.is_authenticated %}
    <div>
        <form action="add/" method="get">
            <p>
            <button class="btn btn-outline-primary" type="submit" value="Save">  Add post</button>
            </p>
        </form>
    </div>
    {% endif %}
<main role="main" class="container">
      <div class="my-3 p-3 bg-white rounded box-shadow">
        <h6 class="border-bottom border-gray pb-2 mb-0">Topic posts:</h6>
          {% for post in page_obj %}
        <div class="media text-muted pt-3" >
          <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
              author: {{ post.author.username }}
            <strong class="d-block text-gray-dark">{{ post.text }} </strong>
              {% if user.pk == post.author.pk or user|has_group:"moderator" %}
              <a href="{% url 'forum:delete_post' post.topic.pk post.pk %}">DELETE</a>
              <a href="{% url 'forum:update_post' post.topic.pk post.pk %}">UPDATE</a>
              {% endif %}
              {{ post.date }}
          </p>
        </div>
          {% endfor %}
      </div>
</main>
{% endblock content %}

{% block pagination %}
{% include 'includes/pagination.html' %}
{% endblock pagination %}
