{% extends 'app_forum/base.html' %}

{% block title %} Homepage {% endblock title %}

{% block content %}
{% include 'includes/navbar.html' %}
    <div>
        <form action="add/" method="get">
            <p>
            <button class="btn btn-outline-primary" type="submit" value="Save">  Add post</button>
            </p>
        </form>
    </div>

<main role="main" class="container">


      <div class="my-3 p-3 bg-white rounded box-shadow">

        <h6 class="border-bottom border-gray pb-2 mb-0">Topic posts:</h6>
          {% for post in object_list %}

        <div class="media text-muted pt-3" >
          <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <strong class="d-block text-gray-dark">{{ post.text }} </strong>
              <a href="{% url 'forum:delete_post' post.topic.pk post.pk %}">DELETE</a>
              <a href="{% url 'forum:update_post' post.topic.pk post.pk %}">UPDATE</a>
              {{ post.date }}
          </p>
        </div>

          {% endfor %}

      </div>
</main>


{% endblock content %}